<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Tools</title>
    @{
        await Html.RenderPartialAsync("Shared/Heading"); 
    }
</head>
<body>
    @{
        await Html.RenderPartialAsync("Shared/Navigation");
        await Html.RenderPartialAsync("Shared/Alert");
    }
    <div class="container">
        @{
            await Html.RenderPartialAsync("Shared/Sidebar");
        }
        <div class="column1">

            <h4>Admin tools</h4>
            <p>These are the admin tools.</p>

            <table>
                <thead>
                    <tr>
                        <th>Tool</th>
                        <th>Status</th>
                        <th>Input</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mass alert</td>
                        <td>Active</td>
                        <td><input type="text" placeholder="Enter alert message"></td>
                    </tr>
                    <tr>
                        <td>Mass ban</td>
                        <td>Disabled</td>
                        <td><input type="text" placeholder="Enter username(s)"></td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <h4>Create News Article</h4>
            <form>
                <label style="font-size: 10px;">Title:</label><br>
                <input type="text" name="title" style="font-size: 10px; width: 100%;"><br><br>

                <label style="font-size: 10px;">Content:</label><br>
                <textarea name="content" rows="5" style="font-size: 10px; width: 100%;"></textarea><br><br>

                <input type="submit" value="Submit Article" class="retro-button">
            </form>
        </div>
        <div class="column2">
            <p style="color: lightgray">Example</p>
        </div>
    </div>

    @{ await Html.RenderPartialAsync("Shared/Footer"); }
</body>
</html>
