<div class="habblet-container ">
    <div class="cbb clearfix activehomes ">

        <h2 class="title">Random Habbos - Click Us!							</h2>
        <div id="homes-habblet-list-container" class="habblet-list-container">
            <img class="active-habbo-imagemap" src="https://sandbox.classichabbo.com/web-gallery/v2/images/activehomes/transparent_area.gif" width="435px" height="230px" usemap="#habbomap" />

            <div id="active-habbo-data-0" class="active-habbo-data">
                <div class="active-habbo-data-container">
                    <div class="active-name offline">Quackster</div>

                    Habbo created on: 2019-12-11                            <p class="motto">Hotel Administrator & Owner</p>
                </div>
            </div>
            <input type="hidden" id="active-habbo-url-0" value="https://sandbox.classichabbo.com/home/Quackster" />
            <input type="hidden" id="active-habbo-image-0" class="active-habbo-image" value="https://sandbox.classichabbo.com/habbo-imaging/avatarimage?figure=hd-180-1.ch-260-62.lg-270-64.sh-300-64.ha-1008-62.ea-1402-62.ca-1806-73&size=b&direction=4&head_direction=4&crr=0&gesture=sml&frame=1
" />
            <div id="active-habbo-data-1" class="active-habbo-data">
                <div class="active-habbo-data-container">
                    <div class="active-name offline">ElPepesote</div>

                    Habbo created on: 2024-02-23                            <p class="motto"></p>
                </div>
            </div>
            <input type="hidden" id="active-habbo-url-1" value="https://sandbox.classichabbo.com/home/ElPepesote" />
            <input type="hidden" id="active-habbo-image-1" class="active-habbo-image" value="https://sandbox.classichabbo.com/habbo-imaging/avatarimage?figure=hr-135-1316.hd-209-6.ch-260-90.lg-285-77.sh-295-84.ea-1401-65&size=b&direction=4&head_direction=4&crr=0&gesture=sml&frame=1
" />
            <div id="active-habbo-data-2" class="active-habbo-data">
                <div class="active-habbo-data-container">
                    <div class="active-name offline">Joren</div>

                    Habbo created on: 2022-01-13                            <p class="motto"></p>
                </div>
            </div>
            <input type="hidden" id="active-habbo-url-2" value="https://sandbox.classichabbo.com/home/Joren" />
            <input type="hidden" id="active-habbo-image-2" class="active-habbo-image" value="https://sandbox.classichabbo.com/habbo-imaging/avatarimage?figure=ca-1813-62.ea-1406-62.lg-281-95.fa-1204-62.hd-195-2.ch-804-93.he-1601-62.hr-828-31&size=b&direction=4&head_direction=4&crr=0&gesture=sml&frame=1
" />
            <div id="active-habbo-data-3" class="active-habbo-data">
                <div class="active-habbo-data-container">
                    <div class="active-name offline">Alex</div>

                    Habbo created on: 2022-04-25                            <p class="motto"></p>
                </div>
            </div>
            <input type="hidden" id="active-habbo-url-3" value="https://sandbox.classichabbo.com/home/Alex" />
            <input type="hidden" id="active-habbo-image-3" class="active-habbo-image" value="https://sandbox.classichabbo.com/habbo-imaging/avatarimage?figure=hr-892-33.hd-600-26.ch-650-80.lg-695-79.sh-907-87&size=b&direction=4&head_direction=4&crr=0&gesture=sml&frame=1
" />
            <div id="active-habbo-data-4" class="active-habbo-data">
                <div class="active-habbo-data-container">
                    <div class="active-name online">Paswrd</div>

                    Habbo created on: 2020-06-05                            <p class="motto">Hiya. </p>
                </div>
            </div>
            <input type="hidden" id="active-habbo-url-4" value="https://sandbox.classichabbo.com/home/Paswrd" />
            <input type="hidden" id="active-habbo-image-4" class="active-habbo-image" value="https://sandbox.classichabbo.com/habbo-imaging/avatarimage?figure=hd-180-9.sh-300-110.lg-281-64.hr-115-61.ha-1002-72.ch-215-92.ca-1813-62&size=b&direction=4&head_direction=4&crr=0&gesture=sml&frame=1
" />
            <div id="placeholder-container">
                <div id="active-habbo-image-placeholder-0" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-1" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-2" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-3" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-4" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-5" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-6" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-7" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-8" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-9" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-10" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-11" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-12" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-13" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-14" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-15" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-16" class="active-habbo-image-placeholder"></div>
                <div id="active-habbo-image-placeholder-17" class="active-habbo-image-placeholder"></div>
            </div>
        </div>

        <map id="habbomap" name="habbomap">
            <area id="imagemap-area-0" shape="rect" coords="55,53,95,103" href="#" alt="" />
            <area id="imagemap-area-1" shape="rect" coords="120,53,160,103" href="#" alt="" />
            <area id="imagemap-area-2" shape="rect" coords="185,53,225,103" href="#" alt="" />
            <area id="imagemap-area-3" shape="rect" coords="250,53,290,103" href="#" alt="" />
            <area id="imagemap-area-4" shape="rect" coords="315,53,355,103" href="#" alt="" />
            <area id="imagemap-area-5" shape="rect" coords="380,53,420,103" href="#" alt="" />
            <area id="imagemap-area-6" shape="rect" coords="28,103,68,153" href="#" alt="" />
            <area id="imagemap-area-7" shape="rect" coords="93,103,133,153" href="#" alt="" />
            <area id="imagemap-area-8" shape="rect" coords="158,103,198,153" href="#" alt="" />
            <area id="imagemap-area-9" shape="rect" coords="223,103,263,153" href="#" alt="" />
            <area id="imagemap-area-10" shape="rect" coords="288,103,328,153" href="#" alt="" />
            <area id="imagemap-area-11" shape="rect" coords="353,103,393,153" href="#" alt="" />
            <area id="imagemap-area-12" shape="rect" coords="55,153,95,203" href="#" alt="" />
            <area id="imagemap-area-13" shape="rect" coords="120,153,160,203" href="#" alt="" />
            <area id="imagemap-area-14" shape="rect" coords="185,153,225,203" href="#" alt="" />
            <area id="imagemap-area-15" shape="rect" coords="250,153,290,203" href="#" alt="" />
            <area id="imagemap-area-16" shape="rect" coords="315,153,355,203" href="#" alt="" />
            <area id="imagemap-area-17" shape="rect" coords="380,153,420,203" href="#" alt="" />
        </map>
        <script type="text/javascript">
            var activeHabbosHabblet = new ActiveHabbosHabblet();
            document.observe("dom:loaded", function () { activeHabbosHabblet.generateRandomImages(); });
        </script>


    </div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>