<div class="habblet-container ">
    <div class="cb clearfix blue ">
        <div class="bt">
            <div></div>
        </div>
        <div class="i1">
            <div class="i2">
                <div class="i3">
                    <div class="rounded-container">
                        <div style="background-color: rgb(255, 255, 255); ">
                            <div style="margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(255, 255, 255); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(111, 153, 196); ">
                                    <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(53, 113, 173); ">
                                        <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(255, 255, 255); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(53, 113, 173); ">
                                    <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                                </div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(111, 153, 196); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(53, 113, 173); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                            </div>
                        </div>
                        <h2 class="title rounded-done">
                            My Characters
                        </h2>
                        <div style="background-color: rgb(255, 255, 255); ">
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(53, 113, 173); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(111, 153, 196); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(255, 255, 255); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(53, 113, 173); ">
                                    <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                                </div>
                            </div>
                            <div style="margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; height: 1px; overflow-x: hidden; overflow-y: hidden; background-color: rgb(255, 255, 255); ">
                                <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(111, 153, 196); ">
                                    <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(53, 113, 173); ">
                                        <div style="height: 1px; overflow-x: hidden; overflow-y: hidden; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; background-color: rgb(39, 103, 167); "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="avatar-selector-habblet">
                        <ul>
                            <li class="even">
                                <img class="avatar-image" src="https://www.habbo.com.br/habbo-imaging/avatar/hd-209-1.lg-285-64.ch-225-85.hr-893-37.ea-1404-62.sh-300-62,s-1.g-1.d-4.h-4.a-0,796aea3c4a20b4cb2ce09d8827f0b006.gif" width="33" height="56">
                                <div class="avatar-info">
                                    <div class="avatar-info-container">
                                        <div class="avatar-name">Bruno.M.F.S.</div>
                                        <div class="avatar-lastonline">
                                            Última visita:
                                            <span title="18/01/11 19:30">2 dias atrás</span>
                                        </div>
                                    </div>
                                    <div class="avatar-select">
                                        <a href="/identity/useOrCreateAvatar/18014818?disableFriendLinking=true"><b>Jogar</b><i></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="more"><a href="/identity/add_avatar">Add or associate more characters to your account</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bb">
            <div></div>
        </div>
    </div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>