<div class="habblet-container ">
    <div class="cbb clearfix green ">

        <h2 class="title">Were you looking for...							</h2>
        <div id="notfound-looking-for" class="box-content">
            <p>
                <b>A friend's group or personal page?</b><br />
                See if it is listed on the <a href="https://sandbox.classichabbo.com/community">Community</a> page.
            </p>

            <p>
                <b>Rooms that rock?</b><br />
                Browse the <a href="https://sandbox.classichabbo.com/community">Recommended Rooms</a> list.
            </p>

            <p>
                <b>What other Habbos are in to?</b><br />
                Check out the <a href="https://sandbox.classichabbo.com/community">Top Tags</a> list.
            </p>

            <p>
                <b>How to get Coins?</b><br />
                Have a look at the <a href="https://sandbox.classichabbo.com/credits">Coins</a> page.
            </p>
        </div>


    </div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>
