<div id="footer">
	<p><a href="https://sandbox.classichabbo.com/" target="_self">Homepage</a> | <a href="https://sandbox.classichabbo.com/papers/disclaimer" target="_self">Disclaimer</a> | <a href="https://sandbox.classichabbo.com/papers/privacy" target="_self">Privacy Policy</a></p>
	<p class="copyright">Powered by HeliosWeb &copy 2024 <a href="https://alex-dev.org/">Quackster</a><br />HABBO is a registered trademark of Sulake Corporation. All rights reserved to their respective owner(s).</p>
</div>