<div id="footer">
    <p><a href="https://sandbox.classichabbo.com/" target="_self">Homepage</a> | <a href="https://sandbox.classichabbo.com/papers/disclaimer" target="_self">Disclaimer</a> | <a href="https://sandbox.classichabbo.com/papers/privacy" target="_self">Privacy Policy</a></p>
    @{
        await Html.RenderPartialAsync("Copyright");
    }
</div></div>

</div>