@using Helios.Web.Helpers

<div class="topbar">
    Logged in as: <strong>@ViewBag.Avatar.Name</strong> (Previous login at @(((DateTime)ViewBag.Avatar.LastOnline).ToHabboDate()) from 84.51.55.15)
    <a href="../../">Secure Login to Habbo</a>
</div>