<div class="habblet-container ">
	<div class="cbb clearfix green ">
		<h2 class="title">Tags							</h2>
		<div class="habblet box-content">
			<ul class="tag-list">
				<li><a href="https://sandbox.classichabbo.com/tag/lgbt" class="tag" style="font-size: 12px;">lgbt</a>
				<li><a href="https://sandbox.classichabbo.com/tag/2009" class="tag" style="font-size: 20px;">2009</a>
				<li><a href="https://sandbox.classichabbo.com/tag/brazil" class="tag" style="font-size: 20px;">brazil</a>
				<li><a href="https://sandbox.classichabbo.com/tag/habbo" class="tag" style="font-size: 10px;">habbo</a>
				<li><a href="https://sandbox.classichabbo.com/tag/rotw" class="tag" style="font-size: 12px;">rotw</a>
				<li><a href="https://sandbox.classichabbo.com/tag/2006" class="tag" style="font-size: 14px;">2006</a>
				<li><a href="https://sandbox.classichabbo.com/tag/español" class="tag" style="font-size: 10px;">español</a>
				<li><a href="https://sandbox.classichabbo.com/tag/rares" class="tag" style="font-size: 10px;">rares</a>
				<li><a href="https://sandbox.classichabbo.com/tag/2007" class="tag" style="font-size: 10px;">2007</a>
				<li><a href="https://sandbox.classichabbo.com/tag/2008" class="tag" style="font-size: 14px;">2008</a>
			</ul>

			<div class="tag-search-form">
				<form name="tag_search_form" action="https://sandbox.classichabbo.com/tag/search" class="search-box">
					<input type="text" name="tag" id="search_query" value="" class="search-box-query" style="float: left" />
					<a onclick="$(this).up('form').submit(); return false;" href="#" class="new-button search-icon" style="float: left"><b><span></span></b><i></i></a>
				</form>
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>