<div class="habblet-container ">
	<div class="cbb clearfix blue ">

		<h2 class="title">Events							</h2>
		<div id="current-events">
			<div class="category-selector">
				<p>Browse latest events by their category</p>
				<select id="event-category">
					<option value="1">Parties &amp; Music</option>
					<option value="2">Trading</option>
					<option value="3">Games</option>
					<option value="4">Retro Guides</option>
					<option value="5">Debates &amp; Discussion</option>
					<option value="6">Grand Openings</option>
					<option value="7">Dating</option>
					<option value="8">Jobs</option>
					<option value="9">Group Events</option>
					<option value="10">Performance</option>
					<option value="11">Help Desk</option>
				</select>
			</div>
			<div id="event-list">
				<ul class="habblet-list">
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			document.observe('dom:loaded', function() {
				CurrentRoomEvents.init();
			});
		</script>


	</div>
</div>
</div>
<script type='text/javascript'>if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>