<div class="habblet-container ">
	<div class="cbb clearfix blue ">
		<div class="box-tabs-container clearfix">
			<h2>Groups</h2>
			<ul class="box-tabs">
				<li id="tab-0-1-1"><a href="#">Hot Groups</a><span class="tab-spacer"></span></li>
				<li id="tab-0-1-2" class="selected"><a href="#">Recent topics</a><span class="tab-spacer"></span></li>
			</ul>

		</div>
		<div id="tab-0-1-1-content" style="display: none">
			<div class="progressbar"><img src="https://sandbox.classichabbo.com/web-gallery/images/progress_bubbles.gif" alt="" width="29" height="6" /></div>
			<a href="https://sandbox.classichabbo.com/habblet/proxy?hid=h122" class="tab-ajax"></a>
		</div>
		<div id="tab-0-1-2-content">

			<ul class="active-discussions-toplist">

				<li class="odd">

					<a href="https://sandbox.classichabbo.com/groups/114/id/discussions/325/id" class="topic">
						<span>im the best in this game</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/114/id/discussions/325/id/page/1" class="topiclist-page-link secondary">1</a>
						<span class="grey">)</span>
					</div>
				</li>

				<li class="even">

					<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/102/id" class="topic">
						<span>Guides Nationality</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/102/id/page/1" class="topiclist-page-link secondary">1</a>
						...
						<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/102/id/page/2" class="topiclist-page-link secondary">2</a>
						<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/102/id/page/3" class="topiclist-page-link secondary">3</a>
						<span class="grey">)</span>
					</div>
				</li>

				<li class="odd">

					<a href="https://sandbox.classichabbo.com/groups/749/id/discussions/324/id" class="topic">
						<span>This is a test</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/749/id/discussions/324/id/page/1" class="topiclist-page-link secondary">1</a>
						<span class="grey">)</span>
					</div>
				</li>

				<li class="even">

					<a href="https://sandbox.classichabbo.com/groups/67/id/discussions/295/id" class="topic">
						<span>doido é</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/67/id/discussions/295/id/page/1" class="topiclist-page-link secondary">1</a>
						<span class="grey">)</span>
					</div>
				</li>

				<li class="odd">

					<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/9/id" class="topic">
						<span>Guides Languages</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/9/id/page/1" class="topiclist-page-link secondary">1</a>
						...
						<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/9/id/page/4" class="topiclist-page-link secondary">4</a>
						<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/9/id/page/5" class="topiclist-page-link secondary">5</a>
						<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/9/id/page/6" class="topiclist-page-link secondary">6</a>
						<span class="grey">)</span>
					</div>
				</li>

				<li class="even">

					<a href="https://sandbox.classichabbo.com/groups/745/id/discussions/323/id" class="topic">
						<span>Welcome to Garden Hangout ©</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/745/id/discussions/323/id/page/1" class="topiclist-page-link secondary">1</a>
						<span class="grey">)</span>
					</div>
				</li>

				<li class="odd">

					<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/322/id" class="topic">
						<span>[HotM] Trax</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/322/id/page/1" class="topiclist-page-link secondary">1</a>
						...
						<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/322/id/page/2" class="topiclist-page-link secondary">2</a>
						<span class="grey">)</span>
					</div>
				</li>

				<li class="even">

					<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/321/id" class="topic">
						<span>[HotM] Mother&#39;s Day</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/321/id/page/1" class="topiclist-page-link secondary">1</a>
						...
						<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/321/id/page/2" class="topiclist-page-link secondary">2</a>
						<span class="grey">)</span>
					</div>
				</li>

				<li class="odd">

					<a href="https://sandbox.classichabbo.com/groups/8/id/discussions/320/id" class="topic">
						<span>Aqui andamos</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/8/id/discussions/320/id/page/1" class="topiclist-page-link secondary">1</a>
						<span class="grey">)</span>
					</div>
				</li>

				<li class="even">

					<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/309/id" class="topic">
						<span>Ajuda</span>

					</a>
					<div class="topic-info post-icon">
						<span class="grey">(</span>
						<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/309/id/page/1" class="topiclist-page-link secondary">1</a>
						<span class="grey">)</span>
					</div>
				</li>
			</ul>

			<div id="active-discussions-toplist-hidden-h121" style="display: none">
				<ul class="active-discussions-toplist">

					<li class="odd">

						<a href="https://sandbox.classichabbo.com/groups/667/id/discussions/302/id" class="topic">
							<span>Photo of my big pp</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/667/id/discussions/302/id/page/1" class="topiclist-page-link secondary">1</a>
							<span class="grey">)</span>
						</div>
					</li>

					<li class="even">

						<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/319/id" class="topic">
							<span>[HotM] April Fools!</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/319/id/page/1" class="topiclist-page-link secondary">1</a>
							...
							<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/319/id/page/2" class="topiclist-page-link secondary">2</a>
							<span class="grey">)</span>
						</div>
					</li>

					<li class="odd">

						<a href="https://sandbox.classichabbo.com/groups/33/id/discussions/149/id" class="topic">
							<span>ALO BRS</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/33/id/discussions/149/id/page/1" class="topiclist-page-link secondary">1</a>
							...
							<a href="https://sandbox.classichabbo.com/groups/33/id/discussions/149/id/page/2" class="topiclist-page-link secondary">2</a>
							<span class="grey">)</span>
						</div>
					</li>

					<li class="even">

						<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/317/id" class="topic">
							<span>Uma ajudinha</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/1/id/discussions/317/id/page/1" class="topiclist-page-link secondary">1</a>
							<span class="grey">)</span>
						</div>
					</li>

					<li class="odd">

						<a href="https://sandbox.classichabbo.com/groups/66/id/discussions/316/id" class="topic">
							<span>e</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/66/id/discussions/316/id/page/1" class="topiclist-page-link secondary">1</a>
							<span class="grey">)</span>
						</div>
					</li>

					<li class="even">

						<a href="https://sandbox.classichabbo.com/groups/650/id/discussions/314/id" class="topic">
							<span>who&#39;s the 3rd friend</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/650/id/discussions/314/id/page/1" class="topiclist-page-link secondary">1</a>
							<span class="grey">)</span>
						</div>
					</li>

					<li class="odd">

						<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/313/id" class="topic">
							<span>[HotM] Valentines</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/709/id/discussions/313/id/page/1" class="topiclist-page-link secondary">1</a>
							<span class="grey">)</span>
						</div>
					</li>

					<li class="even">

						<a href="https://sandbox.classichabbo.com/groups/704/id/discussions/310/id" class="topic">
							<span>disco inferno !</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/704/id/discussions/310/id/page/1" class="topiclist-page-link secondary">1</a>
							<span class="grey">)</span>
						</div>
					</li>

					<li class="odd">

						<a href="https://sandbox.classichabbo.com/groups/698/id/discussions/307/id" class="topic">
							<span>Bienvenidos a la Orden Sith</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/698/id/discussions/307/id/page/1" class="topiclist-page-link secondary">1</a>
							<span class="grey">)</span>
						</div>
					</li>

					<li class="even">

						<a href="https://sandbox.classichabbo.com/groups/446/id/discussions/306/id" class="topic">
							<span>PETITION TO CANONIZE RYBAK</span>

						</a>
						<div class="topic-info post-icon">
							<span class="grey">(</span>
							<a href="https://sandbox.classichabbo.com/groups/446/id/discussions/306/id/page/1" class="topiclist-page-link secondary">1</a>
							<span class="grey">)</span>
						</div>
					</li>
				</ul>

			</div>
			<div class="clearfix">
				<a href="#" class="discussions-toggle-more-data secondary" id="discussions-toggle-more-data-h121">Show more discussions</a>
			</div>
			<script type="text/javascript">
				L10N.put("show.more.discussions", "Show more discussions");
				L10N.put("show.less.discussions", "Show less discussions");
				var discussionMoreDataHelper = new MoreDataHelper("discussions-toggle-more-data-h121", "active-discussions-toplist-hidden-h121", "discussions");
			</script>
		</div>

	</div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>