<div class="habblet-container ">
	<div class="cbb clearfix red ">
		<h2 class="title">Hotel Picks                            </h2>
		<div id="promogroups-habblet-list-container" class="habblet-list-container groups-list">
			<ul class="habblet-list two-cols clearfix">



				<li class="even left" style="background-image: url(@(this.ViewBag.StaticContentUrl)web-gallery/v2/images/rooms/room_icon_3.gif)">
	
					<a class="item" href="http://localhost/client?forwardId=2&amp;roomId=1" onclick="HabboClient.roomForward(this, '1', 'private'); return false;" target="client">Room name</a>
						<a class="item" href="http://localhost/home/Alex">Alex</a>
			
				</li>


				<li class="odd right" style="background-image: url(https://sandbox.classichabbo.com/habbo-imaging/badge/b1205Xs43104s38114.gif)">
					<a class="item" href="https://sandbox.classichabbo.com/groups/officialhabboguides">Habbo Guides (Official)</a>
				</li>


				<li class="even left" style="background-image: url(https://sandbox.classichabbo.com/habbo-imaging/badge/b1013Xs04038s04064s04100.gif)">
					<a class="item" href="https://sandbox.classichabbo.com/groups/battleball_rebound">BattleBall: Rebound!</a>
				
				</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>