<div class="habblet-container ">
	<div class="cbb clearfix green ">

		<div class="box-tabs-container clearfix">
			<h2>Rooms</h2>
			<ul class="box-tabs">
				<li id="tab-0-0-1"><a href="#">Top Rated</a><span class="tab-spacer"></span></li>
				<li id="tab-0-0-2" class="selected"><a href="#">Recommended Rooms</a><span class="tab-spacer"></span></li>
			</ul>
		</div>
		<div id="tab-0-0-1-content" style="display: none">

			<div class="progressbar"><img src="https://sandbox.classichabbo.com/web-gallery/images/progress_bubbles.gif" alt="" width="29" height="6" /></div>
			<a href="https://sandbox.classichabbo.com/habblet/proxy?hid=h120" class="tab-ajax"></a>
		</div>
		<div id="tab-0-0-2-content">

			<div id="rooms-habblet-list-container-h119" class="recommendedrooms-lite-habblet-list-container">
				<ul class="habblet-list">
					<li class="even">


						<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="1536">
							<span class="room-enter">Enter Habbo Hotel</span>
							<span class="room-name">Cozinha</span>
							<span class="room-description"></span>
							<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/Victoria">Victoria</a></span>
						</span>
					</li>
					<li class="odd">


						<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="1792">
							<span class="room-enter">Enter Habbo Hotel</span>
							<span class="room-name">15&#39;s Room</span>
							<span class="room-description">15 has entered the building</span>
							<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/15">15</a></span>
						</span>
					</li>
					<li class="even">


						<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="2048">
							<span class="room-enter">Enter Habbo Hotel</span>
							<span class="room-name">Mis rares</span>
							<span class="room-description"></span>
							<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/Luks">Luks</a></span>
						</span>
					</li>
					<li class="odd">


						<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="2304">
							<span class="room-enter">Enter Habbo Hotel</span>
							<span class="room-name">8GloriousSides&#39;s Room</span>
							<span class="room-description">8GloriousSides has entered the building</span>
							<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/8GloriousSides">8GloriousSides</a></span>
						</span>
					</li>
					<li class="even">


						<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="2560">
							<span class="room-enter">Enter Habbo Hotel</span>
							<span class="room-name">Steal the Coffe. |</span>
							<span class="room-description"></span>
							<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/xCherry">xCherry</a></span>
						</span>
					</li>
				</ul>
				<div id="room-more-data-h119" style="display: none">
					<ul class="habblet-list room-more-data">

						<li class="odd">


							<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="3072">
								<span class="room-enter">Enter Habbo Hotel</span>
								<span class="room-name">Bar </span>
								<span class="room-description"></span>
								<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/-lCheetos-Freel-">-lCheetos-Freel-</a></span>
							</span>
						</li>

						<li class="even">


							<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="3328">
								<span class="room-enter">Enter Habbo Hotel</span>
								<span class="room-name">kjjk</span>
								<span class="room-description"></span>
								<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/trem">trem</a></span>
							</span>
						</li>

						<li class="odd">


							<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="4096">
								<span class="room-enter">Enter Habbo Hotel</span>
								<span class="room-name">test1234</span>
								<span class="room-description"></span>
								<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/hasi962">hasi962</a></span>
							</span>
						</li>

						<li class="even">


							<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="4864">
								<span class="room-enter">Enter Habbo Hotel</span>
								<span class="room-name">Sabata&#39;s Room</span>
								<span class="room-description">Sabata has entered the building</span>
								<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/Sabata">Sabata</a></span>
							</span>
						</li>

						<li class="odd">


							<span class="clearfix enter-room-link room-occupancy-0" title="Go to room" roomid="5120">
								<span class="room-enter">Enter Habbo Hotel</span>
								<span class="room-name">Very Nice Apartment</span>
								<span class="room-description">silverrathlos has entered the building</span>
								<span class="room-owner">Owner: <a href="https://sandbox.classichabbo.com/home/silverrathlos">silverrathlos</a></span>
							</span>
						</li>

					</ul>
				</div>
				<div class="clearfix">
					<a href="#" class="room-toggle-more-data" id="room-toggle-more-data-h119">Show more rooms</a>
				</div>
			</div>
			<script type="text/javascript">
				L10N.put("show.more", "Show more rooms");
				L10N.put("show.less", "Show fewer rooms");
				var roomListHabblet_h119 = new RoomListHabblet("rooms-habblet-list-container-h119", "room-toggle-more-data-h119", "room-more-data-h119");
			</script>
		</div>

	</div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>
