<div class="field field-habbo-name">
    <div style="margin-top: 10px"> </div>
    <label for="habbo-name">Habbo name:</label>
    <a href="#" class="new-button" id="check-name-btn"><b>Check</b><i></i></a>
    <input type="text" id="habbo-name" size="26" value="@(ViewBag.Name)" name="avatarName" class="text-field" maxlength="32" />
    @{
        string errorType = ViewBag.ErrorType;

        switch (errorType)
        {
            case "error":
                {
                    await Html.RenderPartialAsync("Habblet/AddAvatar_NameErrors");
                    break;
                }
            case "already_exists":
                {
                    await Html.RenderPartialAsync("Habblet/AddAvatar_NameSuggestions");
                    break;
                }
            case "name_available":
                {
                    await Html.RenderPartialAsync("Habblet/AddAvatar_NameAvailable");
                    break;
                }
            default:
                {
                    <div id="error-messages-container" style="margin-top: 10px"></div>
                    break;
                }
        }
     }
    <p class="help">Your name can contain lowercase and uppercase letters, numbers and characters -@("=?!@:.")</p>
</div>