<div class="field field-habbo-name">
    <div style="margin-top: 10px"> </div>
    <label for="habbo-name">Habbo name:</label>
    <a href="#" class="new-button" id="check-name-btn"><b>Check</b><i></i></a>
    <input type="text" id="habbo-name" size="26" value="@(ViewBag.Name)" name="avatarName" class="text-field" maxlength="32" />
    <div id="error-messages-container" style="margin-top: 10px"></div>
    <p class="help">Your name can contain lowercase and uppercase letters, numbers and characters -@("=?!@:.")</p>
</div>